CompileFlags:
  Add:
    - "--target=x86_64-w64-mingw32"
    - "-IC:/msys64/ucrt64/include"
    - "-IC:/msys64/ucrt64/x86_64-w64-mingw32/include"
    - "-Iinclude"
    - "-std=c++17"
  Compiler: "C:/msys64/ucrt64/bin/g++.exe"

InlayHints:
  Enabled: No
